##############
# REQUIRED #
##############

# Git
git_sha = ""

# AWS
vpc_id = ""
subnet_id = ""
region=""
key_name = ""

# Cloudflare
cloudflare_zone_id = ""

# Doppler
doppler_service_token = ""

############
# OPTIONAL #
############

#app_name = "yodaspeak"
#instance_type = "t2.micro"
