.dockerignore
.env
.git
.gitignore
.vscode
Dockerfile*
node_modules
npm-debug.log
README.md
.netlify
.github
aws
dns
heroku
Procfile
Makefile
.DS_Store
.eslintrc.json
.prettierrc.json
.prettierignore
docs
