html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #f2f4f8;
    background: linear-gradient(90deg, #00032a 0%, #2b003f 100%);
}

#stars {
    position: absolute;
    top: 0;
    left: 0;
}
#stars .star {
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(247, 210, 162, 0.8);
    box-shadow: 0 0 10px 0 rgba(241, 206, 160, 0.8), 0 0 5px 0 #fff;
}
#stars .star-md {
    width: 4px;
    height: 4px;
}
#stars .star-lg {
    width: 5px;
    height: 5px;
    box-shadow: 0 0 40px 0 #ceb696, 0 0 20px 0 #fff, inset 0 0 4px #fff;
}

.you-speak-yoda {
    margin-top: 1rem;
}
.yoda-text {
    width: 95%;
    max-width: 540px;
    color: linear-gradient(88.36deg, #00ffff 15.19%, #00e9ff 31.04%, #00b2ff 63.71%, #007cff 92.96%);
}

.yoda-img {
    position: relative;
    width: 100%;
    max-width: 465px;
}

.translation {
    margin-top: -30px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 41px;
    line-height: 1.3;
    opacity: 0;
    min-height: 4rem;
}
.translation.show {
    opacity: 1;
    animation: fadein 1s;
}
.translation.hide {
    opacity: 0;
    animation: fadeout 1s;
}
.doppler-link {
    text-decoration: underline;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.translate-form {
    margin: 0 auto;
    max-width: 880px;
}
.translate-form input[name='text'] {
    border-color: #ffffff;
}

@media (min-width: 768px) {
    .you-speak-yoda {
        margin-top: 3rem;
    }

    .form-control {
        height: calc(1.5em + 1rem + 2px);
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }

    .translate-form button {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
}

@media (min-height: 768px) {
    .you-speak-yoda,
    .you-speak-yoda-inner {
        margin-top: 0;
        height: 100% !important;
    }
}
